<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
   
    
    <title>Home</title>
</head>
<body>
 {{>navbar}}

 <div class="container-fluid mt-5">
   <div class="row">
     <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
          <h1>WE WILL HELP YOU TO</h1>
          <h1>GROW YOUR BUSINESS</h1>
          <P>
            WE ARE THE TEAM OF <span>PROFESSIONAL DEVELOPER</span>
          </P>
          <button class="btn-style btn-primary">Read More</button>

        </div>



        <div class="col-md-6 col-12 hero-text order-md-1 order-0">

            <figure>
              <img src="./images/growth.svg" alt="image">
            </figure>
        </div>
      </div>

     </div>
   </div>
 </div>



 <div class="container-fluid mt-5 about-style" id="aboutid" >
   <div class="row">
     <div class="col-md-10 col-12 mx-auto">
       <h1 class="text-center main-heading">About Us</h1>
       <p class="text-center sub-heading">Grow Your Business With Us</p>
      <div class="row">
      
        <div class="col-md-6 col-12 hero-text order-md-0 order-1">

            <figure>
              <img src="./images/about.svg" alt="image">
            </figure>
        </div>

          <div class="col-md-6 col-12 hero-text order-md-1 order-0 d-flex justify-content-center align-items-center flex-column">
          <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
          <P>
            Welcome to <span>Adnan SofTech</span>. We are dedicated to giving you the very best of work. 
          </P>
          <button class="btn-style btn-primary">Read More</button>

        </div>
      </div>

     </div>
   </div>
 </div>

{{>service}}

{{>maps}}

{{>contact}}

 
 

  


  

 


   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
</body>
</html>