 <div class="container-fluid mt-5 about-style" id="contactid" >
   <div class="row">
     <div class="col-md-4 col-4 mx-auto">
       <h1 class="text-center main-heading">Contact Us</h1>
       <p class="text-center">We will be happy help you</p>
        <form action="/" method="POST" >
           <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" name="fname" class="form-control py-3" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control py-3" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone No</label>
            <input type="number" name="phone" class="form-control py-3" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Message</label>
            <input type="text" name="message" class="form-control py-5" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          
          <button type="submit" class="btn-primary display-4 px-3 mt-5" id="btntexts">Submit</button>

        </form>
     
        </div>

        </div>
      </div>